.navbar{
  background-color: rgba(255, 255, 255, 0.507);
  font-family: 'Barlow Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.5px;
} 
.navbar-brand {
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: bolder;
}
.logout, .logo-name {
  color: #542a0f !important;
}