@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed|Gloria+Hallelujah&display=swap');

@import '../javascripts/components/news/news';
@import '../javascripts/components/myNavbar/myNavbar.scss';
@import './responsive.scss';
@import '../javascripts/components/events/events.scss';
@import './username.scss';

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background: url('../../assets/nutshellbg.png') no-repeat center center fixed;
-webkit-background-size: cover;
}

.hide {
  display: none;
}

#textInput {
  margin: 0 auto;
  width: 700px;
}
