@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed|Gloria+Hallelujah&display=swap');


@import '../javascripts/components/myNavbar/myNavbar.scss';
@import './responsive.scss';

body {
  background-color: #886d59;
  background-image: url('../../assets/nutshellbg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.hide {
  display: none;
}

#textInput {
  margin: 0 auto;
  width: 700px;
}
