.usernameDiv {
  background-color: rgba(255, 255, 255, 0.568);
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  padding: 15px;
  border-radius: 10px;
  color: #5c4a3cce;
}

.username-btn {
  display: flex;
  margin: 5px;
  display: inline-flex;
  text-transform: uppercase;
  font-size: 11px;
  background-color: #886d59ce;
  color: white;
  border: none;
}