.eventwrapper{
  display: flex;
  width:600px;
}

.events{
  background-color: rgba(255, 255, 255, 0.568);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  margin: 0 auto;
  margin-top:50px;
}

.events-title{
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: bolder;
  margin: 20px;
  color: #542a0f;
}

.dateSideDiv{
  background-color: white;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  margin: 10px;
  height: auto;
  background-color: #886d59ce;
  color: white;
}

.eventSideDiv{
  background-color: rgb(250, 244, 239);
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  margin: 10px;
  max-width: 425px;
  color: #886d59ce;
}

.eventimg{
  width: 400px;
}

.edit-btn, .delete-event{
  display: flex;
  margin: 5px;
  display: inline-flex;
  text-transform: uppercase;
  font-size: 9px;
  background-color: #886d59ce;
  color: white;
  border: none;
}

.eventafter{
  // background-color: yellow;
}